.main_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 60px;
    font-family: 'Lato', sans-serif;

    h2 {
        font-family: 'Roboto', sans-serif;
    }
}