.mainDashboard__ContentArea__ProjectsDashboard__ProjectImage {
    cursor: pointer;
    transition: all ease 0.3s;

    margin-right: 12px;

    text-align: center;

    h1 {
        font-family: 'Quicksand', sans-serif;
        color: rgb(255, 255, 255);
        text-shadow: black 2px 5px;
    }

    &:hover {
        transform: scale(1.05);
    }
}
