@import "../../utils_styles/variables";

.projectsArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 90%;
    margin-top: 23px;
    background-color: $secondColor;
    border-radius: 10px;

    padding: 20px;

    background-color: blue;
    .projectsArea__column {
        background-color: red;
        width: 100%;

        display: flex;

        .projectsArea__column__project {
            display: flex;
            justify-content: center;
            align-items: center;
            
            word-wrap: break-word;
            flex-wrap: wrap;
    
            width: 100%;
            height: 200px;
    
            cursor: pointer;
            transition: all ease 0.3s;
    
            margin: 6px;
            border-radius: 8px;
        
            text-align: center;
        
            h1 {
                transition: all ease 1s;
                font-family: 'Raleway', sans-serif;
                color: white;
                text-shadow: black 2px 5px;
                font-size: 3pc;
            }
        
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    
}
