@import "../../utils_styles/variables";

.projectsArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 90%;
    margin-top: 23px;
    background-color: $secondColor;
    border-radius: 10px;

    padding: 20px;

    .projectsArea__column {
        display: flex;
        width: 100%;

        .projectsArea__column__project {
            display: flex;
            justify-content: center;
            align-items: center;
            
            word-wrap: break-word;
            flex-wrap: wrap;
    
            height: 200px;
    
            cursor: pointer;
            transition: all ease 0.3s;
    
            margin: 6px;
            border-radius: 8px;
        
            text-align: center;
        
            .projectsArea__column__project__title {
                transition: all ease 1s;
                font-family: 'Raleway', sans-serif;
                color: white;
                text-shadow: black 2px 5px;
                font-size: 280%;
            }
        
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    
}

@media (max-width: 1000px) {
    .projectsArea__column__project__title {
        font-size: 200% !important;
    }
}

@media (max-width: 800px) {
    .projectsArea__column__project__title {
        font-size: 150% !important;
    }
}
