@import "../../utils_styles/variables";

.icon_sidebar_icon_title {
    display: flex;
    align-items: center;
    
    font-family: 'Lato', sans-serif;
    font-size: 1.1pc;

    margin-top: 20px;

    small {
        color: $thirdColor;
        margin-left: 10px;
    }
}

.sidebar_icon {
    border-radius: 5px;
    padding: 7px;
    background-color: $secondColor;
}