@import "../../utils_styles/variables";

.topicsScroll {
    position: relative;
    width: 74vw;

    .topicsScroll--horizontalGradient {
        position: absolute;
        
        width: inherit;
        height: 100%;

        background: linear-gradient(to left, $primaryColor 0.5%, transparent 20%);
        pointer-events: none;
    }

    .topicsScroll__intermediate {
        display: flex;
        overflow: auto;

        width: 100%;

        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            background: transparent;
        }

        .topicsScroll__intermediate__topic {
            flex: none;
            scroll-snap-align: start;
            margin-right: 30px;

            width: 100px;
            height: 128px;

            border-radius: 10px;

            background: rgb(48,52,63);
            background: linear-gradient(324deg, rgba(48,52,63,1) 0%, #E5E5E5 150%);

            font-family: 'Source Sans Pro', sans-serif;
            font-size: 0.6rem;

            
            text-align: center;
            
            padding-top: 25px;
            
            word-wrap: break-word;

            strong {
                cursor: default;
                color: white;
            }
        }
    }
}

@media (max-width: 1100px) {
    .topicsScroll {
        width: 70vw;
    }
}

@media (max-width: 810px) {
    .topicsScroll {
        width: 63vw;
    }
}
