.topicsScroll {
    width: 80vw;
    
    .topicsScroll__intermediate {
        display: flex;
        overflow: auto;

        width: 100%;

        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            background: transparent;
        }

        .topicsScroll__intermediate__topic {
            flex: none;
            scroll-snap-align: start;
            margin-right: 30px;

            width: 100px;
            height: 128px;

            border-radius: 10px;

            background: rgb(48,52,63);
            background: linear-gradient(324deg, rgba(48,52,63,1) 0%, rgba(229,229,229,1) 150%);
        }
    }
}
