@mixin blurCard {
    background-color: rgb(226, 226, 226, 0.3);
    backdrop-filter: blur(30px);
    border-radius: 10px;
}

.aboutUs {
    background-color: #715AFF;
    overflow-x: hidden;

    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 5vw;
        line-height: 60px;
        color: white;
        text-transform: uppercase;
        font-weight: 550;
        line-height: 13vh;

        @media only screen and (max-width: 500px) {
            font-size: 10vw;
        }
    }

    &__mainArea {
        position: relative;

        width: 100%;
        min-height: 220vh;
        
        background-image: url(./img/Background.png);
        background-size: cover;
        background-position: center;

        h2 {
            font-size: 60px;

            @media only screen and (max-width: 730px) {
                font-size: 50px;
            }

            @media only screen and (max-width: 620px) {
                font-size: 40px;
            }

            @media only screen and (max-width: 480px) {
                font-size: 30px;
                line-height: 40px;
            }
        }

        &__mainText {
            width: 100vw;
            height: 100vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &__container {
                width: 787px;
                min-height: 25vw;
                position: relative;
                left: -10%;

                @media only screen and (max-width: 1140px) {
                    width: 80%;
                    left: -5%;
                }

                p {
                    font-size: 20px;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: white;
                    width: 70%;
                    margin: 1%;
                    line-height: 29px;
                }

                &__contact {
                    width: 80%;
                    display: flex;
                    justify-content: space-around;
                    
                    p {
                        font-weight: 500;
                        text-transform: uppercase;
                        color: orange;

                        cursor: pointer;
                    }
                }
            }
        }

        .howWeDoTt__container {
            position: relative;

            z-index: 2;

            padding: 10px;

            margin-top: 200px;

            color: white;
            
            display: flex;
            justify-content: center;

            .howWeDoTt__container__title {
                font: 1040 20px "Source Sans Pro", sans-serif;
            }

            .howWeDoTt__container__card {
                @include blurCard();
                position: relative;

                box-shadow: #4838af 0px 10px 40px;
                
                margin: 0 70px;
                max-width: 550px;
                width: 100%;

                border-radius: 20px;
                padding: 30px;

                h3 {
                    font: 700 20px "Source Sans Pro", sans-serif;
                }
            }

            @media only screen and (max-width: 1010px) {
                flex-direction: column;
                align-items: center;
            }
        }

        .aboutUs__mainArea__horizontalGradient {
            position: absolute;

            z-index: 1;

            bottom: 0;

            width: 100%;
            height: 500px;

            background-color: red;
            background: linear-gradient(to top, #715AFF 0.5%, transparent 90%);
        }
    }

    &__whyUs {
        position: relative;
        width: 100%;
        min-height: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        margin-top: 15%;
        overflow-x: hidden;

        @media only screen and (max-width: 1140px) {
            .opaque {
                width: 90%;
                padding: 0;
                margin: 5% 10px;
            }

            p {
                margin: 0;
                padding: 0 0 0 0;
            }
        }

        #jobondemand, #talentsondemand, #turnaround, #careeroportunities {
            box-shadow: #4838af 0px 10px 40px;

            h3 {
                font: 600 20px "Source Sans Pro", sans-serif;
                text-transform: uppercase;
            }
            p {
                font-weight: 300;
            }
        }

        #jobondemand {
            @include blurCard;

            @media only screen and (max-width: 1140px) {
                margin: 0;
            }
        }

        #talentsondemand {
            @include blurCard;
            margin-left: 25%;

            @media only screen and (max-width: 1140px) {
                margin-left: 0;
            }
        }

        #turnaround {
            @include blurCard;
            margin-left: 10%;

            @media only screen and (max-width: 1140px) {
                margin-left: 0;
            }
        }

        #careeroportunities {
            @include blurCard;
            margin-left: 25%;

            @media only screen and (max-width: 1140px) {
                margin-left: 0;
            }
        }

        p {
            width: 70%;
            text-align: justify;
            font-family: Source Sans Pro;
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            padding: 5%;
        }

        &__wrapper {
            width: 100%;
            min-height: 1vh;
            position: relative;

            @media only screen and (max-width: 1140px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }


            &__container {
                min-height: 1vh;
                width: 70%; 
                padding: 3% 2% 1% 5% !important;
                margin: 5%;
                z-index: 200;

                h3 {
                    font-size: 25px !important;
                }

                p {
                    width: 100%;
                    text-align: left;
                }
            }            
        }
    }

    
    &__workWithUs {
        width: 100%;
        min-height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15%;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 35px;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: orange;
            margin: 0;
            margin-right: 0;
            width: 100%;
            position: relative;
        }

        &__sections {
            width: 80%;
            min-height: 15vh;
            margin-top: 5%;
            position: relative;
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            


            &__section {
                min-width: 1vw;
                min-height: 1vh;
                display: inline-block;
                text-align: center;
                margin: 2%;
                margin-top: 6%;
                
                
                &:last-child {
                    color: red !important;
                }
                
                
                p {
                    font-family: 'Source Sans Pro';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 25px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    text-transform: uppercase;
                    margin: 5%;
                    color: white;
                }
                
                &__wrapper {
                    @include blurCard();
                    min-width: 200px;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    

                    svg {
                        width: 70%;
                        height: 70%;
                        opacity: 0.5;
                    }
                }  
            }
        }
    }

    .aboutUs__joinNetwork__container {
        display: flex;
        justify-content: center;

        margin-top: 200px;
        margin-bottom: 100px;

        .aboutUs__joinNetwork {
            color: white;
    
            width: 600px;
    
            .aboutUs__joinNetwork__mainContent{
                display: flex;
                
                width: 100%;
    
                .aboutUs__joinNetwork__mainContent__textBox {
                    width: 500px;
    
                    h1 {
                        font: 800 50px "Source Sans Pro", sans-serif;
                    }
    
                    p {
                        width: 100%;
                        font-size: 12px;
                    }
                }
                .aboutUs__joinNetwork__mainContent__circleArea {
                    width: 100%;
    
                    display: flex;
                    justify-content: flex-end;
    
                    .circle {
                        margin-top: 60px;
                    }
                }
            }
            .aboutUs__joinNetwork__becameCreator {
                @include blurCard();

                text-align: center;
                padding: 7px;
                border-radius: 14px;

                box-shadow: #4838af 0px 10px 40px;
            }
        }
    }
}