.aboutUs {
    margin: 0;
    background: #712AFF;
    // background-image: url(./img/Background.png);
    // background-size: cover;
    // background-attachment: fixed;

    &__mainArea {
        position: relative;
        width: 100%;
        min-height: 100vh;

        &__mainText {
            width: 100vw;
            height: 100vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &__container {
                width: 787px;
                min-height: 25vw;
                position: relative;
                left: -10%;

                h2 {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 55px;
                    line-height: 60px;
                    color: white;
                    text-transform: uppercase;
                    line-height: 66px;
                }

                p {
                    font-size: 20px;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: white;
                    width: 70%;
                    margin: 1%;
                    line-height: 29px;
                }

                &__contact {
                    width: 80%;
                    display: flex;
                    justify-content: space-around;
                    
                    p {
                        font-weight: 500;
                        text-transform: uppercase;
                        color: orange;
                    }   
                }
            }
        }
    }

    &__howWeDoIt {
        width: 100%;
        min-height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &__container {
            width: 70%;
            min-height: 1vh;
            display: flex;

            h2 {
                font-family: 'Source Sans Pro', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 70px;
                
                display: flex;
                text-transform: uppercase;

                width: 30%;
                color: white;
                margin-top: 5%;
            }

            &__contentWrapper {
                position: relative;
                width: 70vw;
                height: 120vh;
                display: flex;
                align-items: center;
                justify-content: center;

                &__content {
                    width: 90%;
                    min-height: 1vh;
                    margin-bottom: 10%;

                    &__container {
                        width: 100%;
                        min-height: 1vh;

                        &:not(:first-child) {
                            margin-top: 5%;
                        }
                    }
                }
            }

        }
    }
}