.mainSearch {
    .mainSearch__discoverTitle, .mainSearch__projectBrowserTitle {
        font-family: 'Source Sans Pro', sans-serif;
    }
    .mainSearch__projectBrowserTitle {
        font-size: 35px;
        font-weight: 400;
    }

    .mainSearch__projectsArea {
        transform: translateX(-31px);
    }
}