.mainSearch {
    padding-top: 50px;
    color: white;

    background-color: red;

    .mainSearch__discoverTitle {
        font-size: 3pc;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
    }

    .mainSearch__projectBrowserTitle {
        margin-top: 40px;
        font-family: 'Lato', sans-serif;
    }
}
