.CreateMeetingMain {
    display: flex;
    flex-direction: column;

    align-items: center;

    min-height: 100vh;

    background: rgb(62,171,205);
    background: linear-gradient(150deg, #3EABCD 0%, #545a6b 100%);

    .CreateMeetingMain__MeetingArea {
        margin-top: 60px;
        
        width: 70vw;
        
        .CreateMeetingMain__MeetingArea_boxTitle {
            font-family: 'Lato', sans-serif;
            text-align: center;
            
            color: white;
        }
        
        .CreateMeetingMain__MeetingArea_box {
            display: flex;
            
            backdrop-filter: blur(42px);
            background-color: rgba($color: #ffffff, $alpha: 0.2);
            padding: 20px;
            
            border-radius: 10px;
            
            .CreateMeetingMain__MeetingArea_box__SUB {
                width: 100%;
            }
            
            .CreateMeetingMain__MeetingArea_box__inputs {
                padding: 20px;
                height: 100%;
                
                label {
                    margin-top: 10px;
                    color: white;
                }
                
                .CreateMeetingMain__MeetingArea_box__inputs__input {
                    transition: all ease 0.4s;
                    border: none;
                    border-radius: 10px;
                    outline: none;
                    box-shadow: rgb(116, 116, 116) 0px -2px 10px;
                    
                    margin-top: 5px;
                    
                    width: 90%;
                    
                    padding: 1px;
                    padding-bottom: 4px;
                    padding-left: 4px;
                    
                    &:hover {
                        transform: scale(1.04);
                    }

                    &::placeholder {
                        color: #A64253;
                    }
                }
            }
            
            .CreateMeetingMain__MeetingArea_box__calendar {
                display: flex;
                flex-direction: column;
                align-items: center;

                margin-top: 40px;

                .CreateMeetingMain__MeetingArea_box__calendar__buttons {
                    margin-left: 20px;
                    color: red;

                    span {
                        color: #FFBA08;
                        margin-left: 50px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .CreateMeetingMain__rodape {
        font-size: 20px;
        color: white;
    }
}

@media (max-width: 900px) {
    .CreateMeetingMain__MeetingArea_box {
        flex-direction: column;

        .CreateMeetingMain__MeetingArea_box__inputs {
            .CreateMeetingMain__MeetingArea_box__inputs__input {
                width: 100% !important;
            }
        }
    }
}
