@import "../utils_styles/variables";
@import "../utils_styles/mixins";

.mainDashboard__ContentArea__ProjectsDashboard {
    width: 100%;
    margin-top: 40px;

    .dashboard__h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 3pc;
        color: white;
    }

    ul {
        @include projectLi;
        display: flex;
        justify-content: space-between;

        width: 90%;
        margin-top: 45px;
        
        color: $thirdColor;
        cursor: pointer;
    }
}

@media (max-width: 700px) {
    .mainDashboard__ContentArea__ProjectsDashboard {
        ul {
            flex-direction: column;
            li {
                margin-top: 20px;
            }
        }
    }
}
