body {
  background-color: #30343F;
}

.mainSectionEditProfilePicture {
  width: 100%;
  margin-top: 40px;
}

.mainSectionEditProfilePicture .editProfileContainer__title {
  font-size: 1.4pc;
  color: white;
}

.editProfileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #565c6e;
  padding: 40px;
  padding-left: 60px;
  width: 90%;
  border-radius: 8px;
  margin-top: 20px;
}

.editProfileContainer .subArea {
  width: 100%;
}

.editProfileContainer .editProfileContainer--firstArea .editProfileContainer--firstArea__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 370px;
}

.editProfileContainer .editProfileContainer--firstArea .editProfileContainer--firstArea__form .editProfileContainer--firstArea__form__inputArea {
  width: 350px;
}

.editProfileContainer .editProfileContainer--firstArea .editProfileContainer--firstArea__form .editProfileContainer--firstArea__form__inputArea label {
  margin-left: 8px;
  font-size: 0.9pc;
  color: white;
}

.editProfileContainer .editProfileContainer--firstArea .editProfileContainer--firstArea__form .editProfileContainer--firstArea__form__inputArea .editProfileContainer--firstArea__form__inputArea__input_svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editProfileContainer .editProfileContainer--firstArea .editProfileContainer--firstArea__form .editProfileContainer--firstArea__form__inputArea .editProfileContainer--firstArea__form__inputArea__input_svg svg {
  width: 40px;
  height: 35px;
  padding: 8px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #6F64FC;
}

.editProfileContainer .editProfileContainer--firstArea .editProfileContainer--firstArea__form .editProfileContainer--firstArea__form__inputArea .editProfileContainer--firstArea__form__inputArea__input_svg svg:hover {
  cursor: pointer;
}

.editProfileContainer .editProfileContainer--firstArea .editProfileContainer--firstArea__form .editProfileContainer--firstArea__form__inputArea .editProfileContainer--firstArea__form__inputArea__input_svg input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}

.editProfileContainer .editProfileContainer--secondArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.editProfileContainer .editProfileContainer--secondArea .editProfileContainer--secondArea__avatarInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.editProfileContainer .editProfileContainer--secondArea .editProfileContainer--secondArea__avatarInfos .editProfileContainer--secondArea__avatarInfos__avatar {
  width: 250px;
  height: 250px;
  margin-top: 30px;
}

.editProfileContainer .editProfileContainer--secondArea .editProfileContainer--secondArea__avatarInfos .editProfileContainer--secondArea__avatarInfos__selectAvartarAreaButton {
  padding-top: 20px;
}

.editProfileContainer .editProfileContainer--secondArea .editProfileContainer--secondArea__avatarInfos .editProfileContainer--secondArea__avatarInfos__selectAvartarAreaButton button {
  border: none;
  border-radius: 7px;
  padding: 5px;
  font-size: 10px;
  width: 90px;
  color: white;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  width: 120px;
  border-radius: 20px;
  background-color: #979cac;
  color: white;
}

.editProfileContainer .editProfileContainer--secondArea .editProfileContainer--secondArea__avatarInfos .editProfileContainer--secondArea__avatarInfos__selectAvartarAreaButton button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.editProfileContainer .editProfileContainer--secondArea .editProfileContainer--secondArea__confirm_CancelButtonsArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.editProfileContainer .editProfileContainer--secondArea .editProfileContainer--secondArea__confirm_CancelButtonsArea button {
  border: none;
  border-radius: 7px;
  padding: 5px;
  font-size: 10px;
  width: 90px;
  color: white;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  margin-left: 10px;
}

.editProfileContainer .editProfileContainer--secondArea .editProfileContainer--secondArea__confirm_CancelButtonsArea button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.editProfileContainer .editProfileContainer--secondArea .editProfileContainer--secondArea__confirm_CancelButtonsArea .editProfileContainer--secondArea__confirm_CancelButtonsArea--confirm {
  background-color: #6F64FC;
}

.editProfileContainer .editProfileContainer--secondArea .editProfileContainer--secondArea__confirm_CancelButtonsArea .editProfileContainer--secondArea__confirm_CancelButtonsArea--cancel {
  background-color: #979cac;
}

@media (max-width: 1280px) {
  .mainSectionEditProfilePicture .editProfileContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 95%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainSectionEditProfilePicture .editProfileContainer .editProfileContainer--firstArea {
    margin-top: 40px;
  }
  .mainSectionEditProfilePicture .editProfileContainer .editProfileContainer--firstArea .editProfileContainer--firstArea__form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
  }
}
/*# sourceMappingURL=EditProfileComponent.css.map */