@import "../utils_styles/variables";

@mixin button {
    border: none;
    border-radius: 7px;

    padding: 5px;

    font-size: 10px;

    width: 90px;

    color: white;

    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}

body {
    background-color: $primaryColor;
}

.mainSectionEditProfilePicture {
    width: 100%;
    margin-top: 40px;

    .editProfileContainer__title {
        font-size: 1.4pc;
        color: white;
    }
}

.editProfileContainer {
    display: flex;

    background-color: $secondColor;

    padding: 40px;
    padding-left: 60px;

    width: 90%;

    border-radius: 8px;

    margin-top: 20px;

    .subArea {
        width: 100%;
    }

    .editProfileContainer--firstArea {
        .editProfileContainer--firstArea__form {
            display: flex;

            flex-direction: column;
            justify-content: space-between;

            height: 370px;

            .editProfileContainer--firstArea__form__inputArea {
                width: 350px;

                label {
                    margin-left: 8px;
                    font-size: 0.9pc;

                    color: white;
                }

                .editProfileContainer--firstArea__form__inputArea__input_svg {
                    display: flex;

                    svg {
                        width: 40px;
                        height: 35px;
                        padding: 8px;

                        border-radius: 10px;

                        margin-left: 10px;
                        background-color: $selectedIconSideBar;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    input {
                        width: 100%;
    
                        border: none;
                        border-radius: 10px;
    
                        padding-left: 10px;
    
                        outline: none;
                    }
                }
            }
        }
    }
    .editProfileContainer--secondArea {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .editProfileContainer--secondArea__avatarInfos {
            display: flex;
            justify-content: space-between;

            width: 100%;

            .editProfileContainer--secondArea__avatarInfos__avatar {
                width: 250px;
                height: 250px;

                margin-top: 30px;
            }
            .editProfileContainer--secondArea__avatarInfos__selectAvartarAreaButton {
                padding-top: 20px;

                button {
                    @include button;

                    width: 120px;

                    border-radius: 20px;

                    background-color: $thirdColor;

                    color: white;
                }
            }
        }
        
        .editProfileContainer--secondArea__confirm_CancelButtonsArea {
            display: flex;
            justify-content: flex-end;

            button {
                @include button;

                margin-left: 10px;
            }

            .editProfileContainer--secondArea__confirm_CancelButtonsArea--confirm {
                background-color: $selectedIconSideBar;
            }
            .editProfileContainer--secondArea__confirm_CancelButtonsArea--cancel {
                background-color: $thirdColor;
            }
        }
    }
}

@media (max-width: 1280px) {
    .mainSectionEditProfilePicture {
        .editProfileContainer {
            flex-direction: column-reverse;
    
            width: 95%;
            height: 100%;
    
            align-items: center;
    
            .editProfileContainer--firstArea {
                margin-top: 40px;

                .editProfileContainer--firstArea__form {
                    align-items: center;

                    height: 400px;
                }
            }
        }
    }
}
