@import "../utils_styles/variables";

.mainLeftSideBar {
    position: relative;
    z-index: 5;
    
    padding: 20px;

    background-color: $primaryColor;

    .mainLeftSideBar__divisor {
        margin-top: 20px;
        width: 180px;
    
        h1 {
            color: $thirdColor;
            font-weight: 700;
            font-size: 15px;
        }
    }
}
