@import "../utils_styles//variables";

.leftsidebar {
    padding: 20px;
}

.leftsidebar_divisor {
    margin-top: 20px;
    width: 180px;
}

.divisor_title-sidebar {
    color: $thirdColor;
    font-family: 'Roboto', sans-serif;
}
