@import "../utils_styles/variables";

.mainPage {
    background-color: $primaryColor;

    width: 100%;
    height: 100%;

    .mainPage__ContentArea {
        display: flex;
        flex-direction: row;
        padding-top: 95px;
    }
}
