@import "../utils_styles/variables";

body {
    background-color: $primaryColor;
    overflow-x: hidden;
}

.mainPage {
    height: 100vh;

    .mainPage__ContentArea {
        display: flex;
        flex-direction: row;

        margin-top: 50px;
    }
}
