@import "../utils_styles/variables";
@import "../utils_styles/mixins";

.userArea {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    height: 200px;
    width: 100%;

    margin-top: 50px;

    .userArea__profilePictureArea {
        transition: all ease 0.4s;
        border: $selectedIconSideBar solid 2px;
        padding: 10px;
        border-radius: 50%;

        &:hover {
            transform: scale(1.01);
        }

        .userArea__profilePictureArea__profilePicuture {
            width: 150px;
            height: 150px;
        }
    }    

    .userArea__textContent {
        margin-left: 50px;
        font-family: "Roboto", sans-serif;

        h1 {
            font-size: 2.5pc;
            margin-bottom: 20px;

            font: 600 40px "Source Sans Pro", sans-serif;
        }
    }
}

.userArea__ProjectUl {
    display: flex;

    justify-content: flex-start;
    
    width: 90%;
    margin-top: 45px;
    
    color: $thirdColor;
    cursor: pointer;
    
    padding: 0;

    li {
        margin-right: 25px;
        font: 600 23px "Source Sans Pro", sans-serif;
    }
}

@media (max-width: 650px) {
    .userArea {
        margin-bottom: 100px;

        .userArea__profilePictureArea {
            margin-left: 50px;
        }
    }
}
