@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap');

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;

    .logo {
        height: 100%;
        width: 25vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        h1 {
            font-family: 'Source Sans Pro', sans-serif;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .useful-links {
        min-width: 50vw;
        min-height: 50px;
        display: flex;
        justify-content: space-around;

        .blog {
            height: 100%;
            width: 15vw;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            

            h2 {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
                color: white;
                font-size: 20px;
            }

        }

        .links {
            height: 100%;
            min-width: 15vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            right: 15%;

            svg {
                opacity: 0.5;
                fill: none;
                stroke-width: 2;
                stroke: white;

                &:hover {
                    opacity: 1;
                    transition: opacity 0.2s ease-in-out;
                    cursor: pointer;
                }
            }
        }        
    }



}