.mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 60px;
    font-family: 'Lato', sans-serif;

    height: 90px;

    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 801px;

    h2 {
        font-size: 1.6pc;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
    }

    div {
        display: flex;
        align-items: center;

        small {
            margin-right: 30px;
        }
    }
}