.signUp {
    display: flex;

    width: 100vw;
    height: 100vh;
    
    background-color: #30343f;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

    h2, h3 {
        font: 800 40px "Source Sans Pro", sans-serif;
        padding: 1%;
        z-index: 2;
    }
    h3 {
        font-size: 20px;
    }
    
    @media only screen and (max-width: 350px) {
        h2 {
            margin-bottom: 7%;  
        }

        h3 {
            margin-top: 7%;            
        }

    }

    &__formContainer {
        position: relative;
        z-index: 2;
        padding: 3% !important;
        overflow: hidden;
        margin: 0 25px;

        border-radius: 20px;

        background: linear-gradient(100deg, #6f7481, #464b58, #30343f);

        @media only screen and (max-height: 800px) {
            min-height: 450px;
        }

        @media only screen and (max-width: 550px) {
            min-height: 250px;
            padding: 6% !important;
        }
        

        form {
            display: flex;
            flex-direction: column;
            width: 340px;
            overflow: hidden;
            
            .buttons {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 5%;

                button {
                    background: none;
                    outline: none;
                    border: none;
                    color: orange;
                    font-weight: 600;
                    font-family: 'Source Sans Pro';
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }

            label {
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                display: flex;
                justify-content: flex-start;
                text-transform: uppercase;
                flex-direction: column;

                &:not(:first-of-type) {
                    margin-top: 5%;
                }
            }
            
            input {
                width: 100%;
                border-radius: 15px;
                box-shadow: inset 0.2px 1px 10px 2px rgba(0, 0, 0, 0.54);
                outline: none;
                border: none;
                padding: 2% 2% 2% 6%;

                height: 35px;

                &::placeholder {
                    text-transform: uppercase;
                }
            }
        }
    }

    &__circleBackground {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}