.opaque {
    background: linear-gradient(55.33deg, rgba(229, 229, 229, 0.5) -6.38%, rgba(244, 244, 244, 0) 101.73%);
    filter: drop-shadow(4px 24px 39px rgba(48, 52, 63, 0.17));
    backdrop-filter: blur(42px);
    border-radius: 30px;
    color: white;
    padding: 7%;

    h3 {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        display: flex;
        align-items: center;
        text-transform: uppercase;  
    }

    p {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
    }
}